.damage-number {
	font-family: Pixelify Sans;
	font-smooth: never;
	font-weight: 700;
	text-align: center;
	width: 100%;
	text-shadow: 1px 1px 0px black;
	pointer-events: none;
	image-rendering: pixelated;
}